::ng-deep {
  .wrap-icon {
    @size: 80px;
    width: @size !important;
    height: @size !important;
    background-color: white;
    opacity: .6;
    border-radius: 50%;
    margin-top: -@size / 2 !important;
    margin-left: -@size / 2 !important;
  }

  .icon {
    @size: 20px;
    width: @size !important;
    height: @size !important;
    margin-top: -@size / 2 !important;
    margin-left: -@size / 2 !important;
    background-color: #333333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    border-radius: 50%;
  }
}
